<!DOCTYPE html>
<html>
<head>
<title>EasyDrive API</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Welcome to EasyDrive API!</h1>
<p>If you see this page, the API is running, and it is pretty cool!</p>

<p>For online documentation and support please refer to
<a href="http://no-documentation.org/">no-documentation.org</a>.<br/>
Commercial support is available at
<a href="http://easydrive.com/">easydrive.com</a>.</p>

<p><em>Thank you for using EasyDrive API.</em></p>
</body>
</html>
