<!DOCTYPE html>
<html>
  <head>
    <title>EasyDrive API</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Server responds:</h1>
    <p><%= message %></p>
  </body>
</html>
